/* some style */

canvas {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

body {
     height: 100vh;
     background: url("https://media.giphy.com/media/l1Kdb9KNXjm6wpIbK/giphy.gif") repeat center;

}


